.wrap_con{
     position:relative;
     width:1170px;
     height:538px;
     margin:0 auto;
   padding-bottom: 120px;
  h2{
  text-align: center;
  font-size:22px;
  color:#333333;
  font-family: "Î¢ÈíÑÅºÚ";
  line-height:90px;
  font-weight: normal;
}

     .mainBot_con{
        width:1170px;
        margin:0 auto;
        overflow-x:hidden;
        height:538px;
        position:relative;
        .slide{
            width:3600px;
            position:absolute;
            left:0;
            ul{
                width:1170px;
                display:block;
                float:left;
                margin-right:30px;
            }
        }
    }
     span a{
        display:block;
        position:absolute;
        color:#000000;
        font-size:20px;
        top:50%;
        &:first-of-type{
            left:-24px;
        }
        &:nth-of-type(2){
            right:-24px;
        }
    }
}
.mainBot_con{
  width:1170px;
  margin:0 auto;
  padding-bottom:28px;
  ul>li{
    width:370px;
    float:left;
    margin-right:30px;
    text-align:center;
    &:nth-of-type(3){
      margin-right:0;
    }
    a{
      img{
        display: block;
        width:370px;
        height:480px;
      }
    }
    p{
      line-height:37px;
      color:#000000;
      font-size:16px;
      font-weight: normal;
      text-align: center;
      font-family:"Î¢ÈíÑÅºÚ";
      span{
        display:block;
        font-size:14px;
        line-height:14px;
      }
    }
  }
}


